@import "variables";

// Mixin
@mixin max ($color, $fWeight){
  font-size: 1$f-size;
  font-weight: $fWeight;
  color: $color;
}

// Псевдоклассы и импортирование данных

@mixin maxP ($link, $hover, $active, $visited) {
  a {
    color: $link;

    &:hover {
      color:  lighten(gold, 40%);;
    }

    &:active {
      color: $active;
    }
  }
}

@include maxP(blue, green, red, purple);


@mixin grid($cols, $margin) {
 float: right;
  background-color: cadetblue;
  margin-right: $margin;
  margin-bottom: $margin;
  height: 150px;
  width: (100% - ($cols - 3) + $margin / $cols);

  &:nth-child(#{$cols}n) {
  margin-left: 0;
}
}