$mTop: 0 auto;
$bc: #c2c2c2;
$padding: 30px;




.centered_block {
  width: 200px;
  margin: $mTop;
  background-color: $bc;
  padding: $padding;
  border-radius: 20px;



  ul {
    list-style: none;

    li {
  color: brown;
      a {
        color: green;
        text-decoration: none;
      }
    }
  }

  a {
    text-decoration: none;
  }
}