$bgColor-one: greenyellow;
$margin-All: 50px 0 50px 0;
$parent: flex;
$jc: space-between;
$widthP: 900px;

.parent {
  display: $parent;
  justify-content: $jc;
  width: $widthP;
}


.block {
  width: 200px;
  height: 200px;
  margin: $margin-All;
}

.one {
  background-color: $bgColor-one;
}

.two {
  background-color: rebeccapurple;
}

.three {
  background-color: red;
}