@import "mixin";
@import "variables";

.centered_block {
  width: 200px;
  margin: $mTop;
  background-color: $bc;
  padding: $padding;
  border-radius: 20px;


  ul {
    list-style: none;
    li {
  color: brown;
      a {
        text-decoration: none;
        @include max(orange, bold);
      }
    }
  }
  a {
    text-decoration: none;
  }
}